body {
    padding-top: 200px;
    
}

.container {
    max-width: 750px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px 25px 8px 25px;
    text-align: left
}