body{
    margin: 5% 30% 5% 30%;
    background-color: rgba(0, 0, 0, 0.02)  ;
}

.card{
    background-color: aqua;
    max-width: fit-content;
    padding: 2px 7px 2px 7px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards{
    position: relative;
}